.App_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Search {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .SearchBar_wrap {
      display: flex;
      justify-content: center;
      width: 100%;

      form {
        width: 100%;

        .SearchBar_input {
          width: 100%;
        }
      }
    }
  }

  .SearchList_wrap {
    width: 100%;
    flex: 1;
  }

  .SaveList_wrap {
    display: flex;
  }

  .Tournament_item {
    display: flex;
    margin: 20px;

    .Tournament_img {
      img {
        height: 50px;
        max-width: 50px;
      }
    }

    .Tournament_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      padding: 0 20px;

      .title {
        font-size: 18px;
        font-weight: 600;
      }

      .description {

      }
    }
  }
}
